# dependencies
node_modules/

# build
.astro/
dist/
*.tsbuildinfo
.biome

# system
.DS_Store
._*
.vscode/
.zed/
.idea/
*.log
.tmp/
.env
.env.*
!.env.example
.husky/_/

# project
.wrangler/
.claude/
.clawpatch/
