# dependencies
node_modules/

# build
dist/
build/
*.tsbuildinfo
.biome
.svelte-kit/

# system
.DS_Store
._*
.vscode/
.zed/
.idea/
*.log
.tmp/
.env
.env.*
!.env.example
.husky/_/

# project
.wrangler/
.claude/
