$color-000: #000000;
$color-005: #0a0a0a;
$color-010: #191919;
$color-020: #333333;
$color-030: #4c4c4c;
$color-040: #666666;
$color-050: #7f7f7f;
$color-060: #999999;
$color-070: #b2b2b2;
$color-080: #cccccc;
$color-090: #e5e5e5;
$color-095: #f5f5f5;
$color-097: #f7f7f7;
$color-099: #fcfcfc;
$color-100: #ffffff;
